.hover-accent-1:hover {
    background-color: var(--c-accent-1) !important;
    box-shadow: 0px 0px 15px var(--c-accent-1) !important;
}
.hover-accent-2:hover {
    background-color: var(--c-accent-2) !important;
    box-shadow: 0px 0px 15px var(--c-accent-2) !important;
}
.hover-accent-3:hover {
    background-color: var(--c-accent-3) !important;
    box-shadow: 0px 0px 15px var(--c-accent-3) !important;
}

.hover-base-1:hover {
    background-color: var(--c-base-1) !important;
    box-shadow: 0px 0px 10px var(--c-base-1) !important;
}
.hover-base-2:hover {
    background-color: var(--c-base-2) !important;
    box-shadow: 0px 0px 10px var(--c-base-2) !important;
}
.hover-base-3:hover {
    background-color: var(--c-base-3) !important;
    box-shadow: 0px 0px 10px var(--c-base-3) !important;
}

.hover-glass-1:hover {
    background-color: var(--c-b1) !important;
    box-shadow: 0px 0px 10px var(--c-base-4) !important;
}

.hover-n:hover {
    box-shadow: none !important;
}