*, *:before, *:after {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}

:root {
    /*font-family: system-ui, Arial, sans-serif;*/
    font-family: system-ui, JetBrains Mono, monospace;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*input {*/
/*    transition: all .3s var(--a-base);*/
/*}*/

/*input::placeholder {*/
/*    color: var(--c-text-2);*/
/*}*/

/*input:focus {*/
/*    outline: none !important;*/
/*    background-color: var(--c-glass-3);*/
/*    border-color: var(--c-accent-3);*/
/*}*/

/*a {*/
/*    font-weight: 500;*/
/*    color: var(--c-text-2);*/
/*    text-decoration: inherit;*/
/*    transition: all .3s var(--a-base);*/
/*}*/
/*a:hover {*/
/*    color: var(--c-accent-2);*/
/*}*/