
:root {
    --c-base-1: #1a1a1a;
    --c-base-2: #2c2c2c;
    --c-base-3: #424242;
    --c-base-4: #636363;

    --c-text-1: #ffffff;
    --c-text-2: #cacaca;

    --c-accent-1: #2d0f5a;
    --c-accent-2: #6321c5;
    --c-accent-3: #934bff;

    --c-success-1: rgb(30 124 30);
    --c-success-2: rgb(55 189 55);

    --c-attention-1: rgb(177 177 30);
    --c-attention-2: rgb(205 205 55);

    --c-error-1: rgb(161 30 30);
    --c-error-2: rgb(216 55 55);

    --c-alt-1: #aeaeae;
    --c-alt-2: #d8d8d8;
    --c-alt-3: #ffffff;

    --c-transparent: #00000000;

    --c-glass-1: rgb(255 255 255 / 10%);
    --c-glass-2: rgb(255 255 255 / 25%);
    --c-glass-3: rgb(255 255 255 / 40%);

    --c-glass-accent-1: rgb(99 33 197 / 20%);
    --c-glass-accent-2: rgb(99 33 197 / 40%);

    --c-glass-success-1: rgb(0 255 0 / 25%);
    --c-glass-success-2: rgb(0 255 0 / 40%);

    --c-glass-attention-1: rgb(255 255 0 / 25%);
    --c-glass-attention-2: rgb(255 255 0 / 40%);

    --c-glass-error-1: rgb(255 0 0 / 25%);
    --c-glass-error-2: rgb(255 0 0 / 40%);

    --a-base: cubic-bezier(0, 0, .2, 1)
}